.logo-font {
  font-family: titillium web, sans-serif;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

* {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*:focus {
  outline: none;
}

.navbar-fixe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
}

.btn-sm {
  margin-right: 10px;
}

body {
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .navbar {
    padding: 0;
  }

  .nav {
    font-size: 15px;
  }
}